.header__lang-selector {
   padding-right: 20px;
   color: white;
   text-decoration: none;
}

.header__lang-selector:hover {
   text-decoration: underline;
   opacity: 0.8;
   transition-duration: 0.5s;
}

@media screen and (max-width: 1023px) {
   .header__lang-selector {
      padding: 0;
   }
}