.footer__menu-container {
   display: flex;
   justify-content: space-between;
   margin-left: 18px;
}

.footer__menu-container:first-child {
   margin: 0;
}

@media screen and (max-width: 767px) {
   .footer__menu-container {
      margin-left: 0;
   }
}